$deep-grey: #282c34;
$white-text: rgba(255,255,255, .89);

//color palette #1
$lightGrey: #F1F1F2;
$purple: #BCBABE;
$lightBlue: #A1D6E2;
$darkBlue: #1995AD;

//color palette #2
$blue: #C1E1DC;
$pink: #FFCCAC;
$lightYellow: #FFEB94;
$darkYellow: #FFD475;

//Images

$bannerImg:
$logo:

//fonts

$fontOne:
$fontTwo: 

body {
  background-color: $deep-grey;
  color: blue;
}
